<div class="container">
    <div class="row col-md-12">
        <div class="col-md-4" *ngFor="let foto of fotos">
            <div class="card mt-4 col-md-3 me-3" style="width: 18rem; height: 27rem;" >
                <img src="{{ foto.urlImg }}" class="card-img-top" alt="..." height="170">
                <div class="card-body">
                  <h5 class="card-title">{{ foto.nome }}</h5>
                  <p class="card-text">{{ foto.desc }}</p>
                  <button  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary" (click)="abrirModal(foto)" >Conheça Mais</button>
                </div>
              </div>
            </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{ fotosModal.nome }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="{{ fotosModal.urlImg }}" class="card-img-top" alt="...">
                <p>{{ fotosModal.desc }}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              
            </div>
          </div>
        </div>
      </div>
</div>